*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
    margin-top: 0;
    padding: 1.5em 0em 1.5em 0em;
    z-index: 100;
    background-color:rgb(255, 0, 0);
    
}
footer{
    width: 100%;
    margin-bottom: 0;
    //padding: 1.5em 0em 1.5em 0em;
    //z-index: 100;
    background-color:black;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    font-size: 2em;
}
li{
    margin-left: 0.5em;
}
a{
    transition: 1s;
    font-weight: 0;
    color: white;
    text-decoration: none;
}
a:hover{
    color:rgb(0, 0, 0);
}
section.welcome-section{
    width: 100%;
    text-align: center;
    padding: 20% 0% 25% 0%;
    background-color: rgb(172, 172, 172);
}
h1{
    font-size: 4em;
}

h3{
    font-size: 2em;
    color: rgb(191, 243, 1);
}
p{
    font-size:medium  ;
    margin-top: 5px;
    margin-left: 5px;
}
section#contact h3{
    font-size:medium ;
}
section#contact h1{
    font-size:medium ;
